.AppNav {
    grid-area: n;
    background-color: whitesmoke;
    padding: 20px;
}

.item {
    color: grey;
    text-shadow: 1px 1px 2px black;
    font-size: 40px;
    text-decoration: none;
    padding-bottom: 15px;
}


.item.activeLink {
    color: Crimson;
}