.userPhoto{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
}
.userPhoto:hover {
    cursor: pointer;
}
.name{
    cursor: pointer;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.link{
    text-decoration: none;
}

.userItem{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.userItem:hover{
    background: crimson;
}
.Padding {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}