.APP {
  display: grid;

  grid-template-areas:
    "header header header"
    "n c c"
    "n c c";
  grid-template-rows: 60px 910px 1fr ;
  grid-template-columns: 2fr 10fr 2fr;
  /*grid-gap: 10px;*/
}
.AppContent{
  grid-area: c;
  background-color: whitesmoke;
}
